.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.phone {
    color: #212529 !important;
    text-decoration: none;
    transition: color 0.2s;
    font-weight: bold;
    margin-left: 5px;
}

.phone:hover {
    color: #212529 !important;
}

.logo {
    display: flex;
}
.icon {
    position: absolute;
    top: -1px;
    left: -17px;
}
.number {
    position: relative;
}
.btn {
    padding: 10px 15px;
    background-color: #212529;
    color: white;
    text-decoration: none;
    border-radius: 40px;

}